---
layout: default
comments: true
---

<section>
    <article class="ui segment raised">
        <h1 class="ui dividing header">
            <div class="sub header">
                <a href="http://philipp-rieber.net" target="_blank"><img class="ui image avatar" src="/images/avatar.jpg" /></a>
                {{ page.date | date: "%b %-d, %Y" }}
            </div>
            {{ page.title }}
        </h1>
        {{ content }}
    </article>

    <p><i>Liked this post? Follow me on <a href="https://twitter.com/bicpi" target="_blank">Twitter</a> for updates.</i></p>
</section>

{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'bicpi';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>{% endif %}