---
layout: default
---

<div class="blog-post">
    <h2 class="blog-post-title">{{ page.title }}</h2>
    <p class="blog-post-meta">{{ page.date | date: "%b %-d, %Y" }}</p>
    {{ content }}

    <p>&nbsp;</p>
    <div style="font-size: 80%">
        <p>
            <img class="img-rounded" style="width: 90px;margin-right: 10px;float:left;" src="{{ site.baseurl }}/images/avatar-small.jpg">

            <strong>Philipp Rieber</strong> is a passionate and certified PHP and Symfony developer
            working at <a href="http://www.paymill.com/">Paymill</a> in Munich, Germany.
            He is also engaged in the frontend, the Cloud, on Mobile, as a DevOp and a technical writer.
            He is never missing the <a href="http://www.meetup.com/phpugmunich/">PHP User Group Munich</a>
            and he is co-organizing the <a href="http://www.meetup.com/sfugmunich/">Symfony User Group Munich</a>.
        </p>
        <p>
            <i class="fa fa-home"></i> <a href="http://philipp-rieber.net">philipp-rieber.net</a><br>
            <a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/bicpi">Follow @bicpi</a>
        </p>
    </div>

    <p>&nbsp;</p>
    <p><i>Liked this post? Follow me on <a href="https://twitter.com/bicpi" target="_blank">Twitter</a> for updates.</i></p>
</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script>
    /**
     * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    var disqus_config = function () {
        var disqus_identifier = '{% if page.disqus_identifier %}{{ page.disqus_identifier}}{% else %}{{ site.url }}{{ page.url }}{% endif %}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//bicpi.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}